{% extends 'site/template.twig' %}
{% block title %}
    <title>Error 404: Page not found!</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding: 50px 30px 600px;">
                <div class="">
                    <h5>Error 404: Page not found!</h5>
                    <div>
                        An invalid URL was entered, or the requested page is not yet available.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
